<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: yellow;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
div {
  background-color: lightblue;
}
</style>
</head>
<body>
<div align="right"><a href="/"><button type="submit">LogOut</button></a></div>
 <div align="center">
 
 <h1 style="background-color:DodgerBlue;">Access to Admin</h1>
   <a th:href="@{'/new'}">Insert New Employee Details</a><br><br>
     <table class="table" border="1" cellpadding="10" id="customers">
       <thead class="thead-dark">
         <tr>
           <th>EmpId</th>
           <th>UserName</th>
           <th>FullName</th>
           <th>Address</th>
           <th>PhoneNo.</th>
           <th>Email</th>
           <th>Salary</th>
           <th>Actions</th>
         </tr>
      </thead>
      <tbody>
         <tr th:each="table:${emp}">
            <td th:text="${table.empid}"></td>
            <td th:text="${table.username}"></td>
            <td th:text="${table.fullname}"></td>
            <td th:text="${table.address}"></td>
            <td th:text="${table.phoneno}"></td>
            <td th:text="${table.email}"></td>
            <td th:text="${table.salary}"></td>
            <td>
               <a th:href="@{'/edit/' + ${table.empid}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
               <a th:href="@{'/delete/' + ${table.empid}}">Delete</a>
           </td>
        </tr>
      </tbody>
    </table>
    <div align="center"><a href="/"><button type="submit">Back</button></a></div>
  </div>
 </body>
</html>