<!DOCTYPE html>
<html lan="en" and dir="Itr">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Login</title>
<style type="text/css">
body {background-color: hsla(120, 100%, 75%, 0.3);}  /* light green with opacity */
h1 {
  text-shadow: 2px 2px red;
}
</style>
</head>
<body><br><br><br>
  <div align="center">
    <form class="box" action="check" method="post">
      <h1><b>Login Page</b></h1><br><br>
       Enter Name:<input type="text" name="username" placeholder="Enter User Name" required><br><br>
       Enter Password:<input type="password" name="password" placeholder="Enter Password" required><br><br>
       <input type="submit" name="b1" value="submit">
       <input type="reset" name="b2" value="cancel">
    </form>
  </div>
</body>
</html>